{{!< default}}

{{! The header when Index}}
<header id="indexhead_willsong">
	{{#if @blog.logo}}<a href="{{@blog.url}}"><img id="logo_willsong" src="{{@blog.logo}}" alt="{{@blog.title}}" /></a>
		{{else}}<h1 id="blogname_willsong"><a href="{{@blog.url}}">{{@blog.title}}</a></h1>
	{{/if}}
	<div id="description_willsong" class="respowidth_willsong">
		<h3>{{@blog.description}}</h3>
	</div>
</header>

{{! MAIN content}}
<section id="main_willsong" role="main">
	<div id="articles_willsong" class="respowidth_willsong">

	{{! The Index articles loop}}
	{{#foreach posts}}
		<article class="article_willsong" role="article" itemscope itemtype="http://schema.org/Article">

			<div class="postdetails_willsong">
				<span class="icon-clock"> </span> <time class="date_willsong" datetime="{{date format='dddd DD MMM YYYY'}}" itemprop="datePublished">{{date format='DD MMM YYYY'}}</time>
				{{#if tags}}<p><span class="icon-tag"> </span> {{tags separator=", "}}</p>{{/if}}
			</div><div class="mainright_willsong">
				<h2 class="posttitle_willsong" itemprop="headline"><a href="{{{url}}}" rel="bookmark">{{title}}</a></h2>

				<div class="lores_postdetails_willsong">
					<span class="icon-clock"> </span> <time class="date_willsong" datetime="{{date format='dddd DD MMM YYYY'}}" itemprop="datePublished">{{date format='DD MMM YYYY'}}</time>{{#if tags}}<span class="icon-tag"> {{tags separator=", "}}</span>{{/if}}
				</div>
				
				<div class="postcontent_willsong">
					{{content words="80"}}
				</div>
				
				<a href="{{{url}}}" class="readmore_willsong">Read More</a>
			</div>
				
		</article>
	{{/foreach}}

	{{#if pagination}}
		<div id="pagination_willsong">
			{{{pagination}}}
		</div>
	{{/if}}
	</div>

	<aside class="bio">
		<h3><a href="http://twitter.com/billwscott">@billwscott</a></h3>
		<img class="bills_pic" src="assets/images/bill.jpg" />
		<div id="socialmedia_willsong">
			<a href="http://twitter.com/billwscott" class="sociallink_willsong"><span class="icon-twitter"></span></a>
			<a href="http://www.linkedin.com/in/billwscott" class="sociallink_willsong"><span class="icon-linkedin"></span></a>
			<a href="http://plus.google.com/112944605091918762808/posts" class="sociallink_willsong"><span class="icon-google-plus"></span></a>
			<a href="https://github.com/billwscott" class="sociallink_willsong"><span class="icon-github"></span></a>
			<a href="https://flickr.com/thescottclan" class="sociallink_willsong"><span class="icon-flickr"></span></a>
			<a href="http://about.me/billwscott" class="sociallink_willsong"><span class="icon-user"></span></a>
			<a href="http://looksgoodworkswell.ghost.io/rss/" class="sociallink_willsong"><span class="icon-feed"></span></a>
		</div>
		<p>Sr. Director, UI Engineering at PayPal.<br/><br/>UX & Engineering Thought Leader, Author, Speaker, Lean Startup/Lean UX/Lean Engineering advocate.<br/><br/>Former Netflix head of UIE, Design Pattern Curator and Ajax Evangelist at Yahoo! Early Mac game developer (1985).</p>

		<h3>My Book</h3>

		<a href="http://www.amazon.com/gp/product/0596516258/ref=as_li_ss_il?ie=UTF8&camp=1789&creative=390957&creativeASIN=0596516258&linkCode=as2&tag=looksgoodwork-20"><img border="0" src="http://ws-na.amazon-adsystem.com/widgets/q?_encoding=UTF8&ASIN=0596516258&Format=_SL110_&ID=AsinImage&MarketPlace=US&ServiceVersion=20070822&WS=1&tag=looksgoodwork-20" ></a><img src="http://ir-na.amazon-adsystem.com/e/ir?t=looksgoodwork-20&l=as2&o=1&a=0596516258" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;" />

	</aside>
</section>